name: foodiexpress
description: FoodiExpress - App de entrega de comida (Menú y Detalle) con navegación por rutas nombradas.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  sqflite: ^2.4.2
  path: ^1.9.0
  provider: ^6.1.5+1
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
